@import '../variables.styl';
@import '../../mixin.styl';

.kd-dropdown-menu
    position absolute
    z-index 10
    background #fff
    top 0
    left 0
    padding: 10px 0
    box-shadow $-box-shadow