
.kd-upload
    .kd-upload-input
        display: none
.kd-upload-list-text
    width: 300px
    font-size 12px

.kd-upload-list-item
    position relative
    line-height: 30px
    cursor pointer
    &:hover
        .kdicon
            display inline-block
        .kdicon+.kdicon
            display none
    span
        display: inline-block
        margin-right: 20px
.kd-upload-list-delete
    display none
.kd-upload-status-icon
    position absolute
    right 0
    top 0
.kd-icon-left
    right 8px

.kd-upload-add-icon
    display: inline-block
    width: 180px
    height 180px
    line-height: 180px
    text-align: center
    border 1px solid #ccc
    border-radius: 5px
    cursor pointer
    font-size 20px
    &:hover 
        border 1px solid blue
.kd-upload-list-picture
    display inline
    vertical-align top
.kd-upload-picture-item
    display: inline-block
    width 180px 
    height 180px
    border 1px solid #ccc
    margin 0 8px 8px 0
    border-radius: 8px
    overflow hidden
    img 
        width: 100%
        // overflow hidden
.kd-upload-btn-wrap
    display inline-block

.kd-upload-drag
    width 300px
    height 170px
    text-align: center
    border: 1px dashed #ccc
    cursor pointer
    border-radius 4px
    &:hover
        border: 1px dashed blue
.kd-upload-drag-icon
    display block
    margin 30px 0 20px 0
    font-size 70px
.kd-upload-tip
    color #B2B2B2 
    line-height: 30px
    overflow hidden
    text-overflow ellipsis

