
.kd-upload
    .kd-upload-input
        display: none
.kd-upload-list-text
    width: 300px
    font-size 12px

.kd-upload-list-item
    position relative
    line-height: 30px
    cursor pointer
    &:hover
        .kdicon
            display inline-block
        .kdicon+.kdicon
            display none
    span
        display: inline-block
        margin-right: 20px
.kd-upload-list-delete
    display none
.kd-upload-status-icon
    position absolute
    right 0
    top 0
.kd-icon-left
    right 8px

.kd-upload-add-icon
    display: inline-block
    width: 80px
    height 80px
    line-height: 80px
    text-align: center
    border 1px dashed #ccc
    border-radius: 5px
    cursor pointer
    font-size 20px
    &:hover 
        border 1px dashed blue
.kd-upload-picture-item
    display: inline-block
    width 180px 
    height 180px
    border 1px dashed #ccc
    margin 0 8px 8px 0
    img 
        width: 100%

